body {
  font-family: "Times New Roman";
  font-size: 22px;
  background: url("../resources/background-eco-fur-minimalism-thumb.jpg");
  background-size:100% 100%;
}

/* The sidebar menu */
.sidenav {
 height: 100%; /* Full-height: remove this if you want "auto" height */
 width: 160px; /* Set the width of the sidebar */
 position: fixed; /* Fixed Sidebar (stay in place on scroll) */
 z-index: 1; /* Stay on top */
 top: 0; /* Stay at the top */
 left: 0;
 /*background-color: #111; /* Black */
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
 padding: 6px 8px 6px 16px;
 text-decoration: none;
 color: #818181;
 display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 color: #111;
}

/* Style page content */
.main {
 text-align: left;
 margin-left: 220px; /* Same as the width of the sidebar */
 margin-right: 400px;
 padding: 0px 10px;
 font-size: 14pt;"
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}

.button {
  font-family: Arial;
  font-size: 12pt;
  color: grey;
}

* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 20px;
  height: 20px;
  background-color: #d4ba79;
  opacity: 0.8
	  ;
  border-radius: 50%;
}
